body {
    font-size: 13px;
}

/* Left */
.app-wrapper::after {
    display: none;
}
.app {
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.pane {
    background-color: #fefefe !important;
}
.pane .pane-header {
    display: none;
}
.pane-list {
    width: 25%;
}
.pane-intro, .pane-chat {
    width: 75%;
}
.pane-intro .intro-body {
    display: none;
}
.pane-intro::after {
    display: none;
}
.butterbar-container {
    background-color: #fefefe;
}
.butterbar {
    background-color: transparent;
    min-height: 0;
    padding: 0;
}
.butterbar-notification {
    display: none;
}
.butterbar-wrapper {

}
.butterbar .butterbar-icon,
.butterbar .butterbar-text {
    display: none;
}
.butterbar .butterbar-title {
    color: #000;
    font-size: inherit;
    line-height: 160%;
}
.butterbar .butterbar-body {
    border: 1px solid #000;
    border-bottom: 0 none;
}
.subheader-search {
    height: 30px;
    border: 1px solid #000;
    border-bottom: 0 none;    
}
.subheader-search button {
    display: none;
}
.subheader-search .input-placeholder {
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    line-height: 160%;
}
.subheader-search .cont-input-search {
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: 0 none;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    line-height: 160%;
    -webkit-padding-start: 0 !important;
}
.infinite-list-viewport {
    height: auto !important;
}
.infinite-list-item {
    height: auto !important;
}
.chatlist .chat, 
.chatlist .chat.active,
.chatlist .chat.hover {
    padding: 0;
    border: 1px solid #000;
    border-bottom: 0 none; 
    background-color: inherit;
}
.chatlist .chat::before,
.chatlist .chat::after {
    display: none;
}
.chat .chat-avatar {
    display: none;
}
.chat .chat-main,
.chat .chat-body {
    margin: 0;
}
.chat .chat-main .chat-title {
    color: inherit;
    font-size: inherit;
    line-height: 160%;
}
.chat .chat-main .chat-meta {
    position: absolute;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    line-height: 160%;
}
.chat .chat-main .chat-meta .chat-time {
    display: block;
    width: 125px;
    height: 100%;
    border: 1px solid #000;
    border-top: 0 none; 
    border-bottom: 0 none; 
}
.chat .chat-secondary {
    min-height: 0;
}
.chat .chat-secondary .chat-meta {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    line-height: 160%;
}
.chat .chat-secondary .chat-meta .unread-count {
    background-color: transparent;
    color: inherit;
    height: 100%;
}
.chat.hover .chat-secondary .chat-meta .unread-count {
    display: none;
}
.chat .chat-secondary .chat-status {
    display: none;
}
img.emoji {
    transform: scale(0.5)
}

/* Right */
.pane-chat-msgs {
    padding: 0;
    margin: 0;
}
.message {
    box-shadow: none;
}
.message::before {
    display: none;
}
.message .bubble {
    padding: 0;
    font-size: inherit;
    line-height: 160%;    
}