body {
    font-size: 13px;
    background-size: contain;
    background: no-repeat url(https://rawgit.com/Satsume/WebWhatsappStyles/master/background.png) 0 0;
}

/* Main */
.app-wrapper::after {
    display: none;
}
.app {
    margin: 0;
    width: 100%;
    height: calc(100% - 200px);
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
}
.pane {
    background-color: #fefefe !important;
}
.pane .pane-header {
    display: none;
}
.pane-list {
    width: 25%;
}
.pane-intro, .pane-chat {
    width: 75%;
}
.pane-intro .intro-body {
    display: none;
}
.pane-intro::after {
    display: none;
}
.pane-chat-tile-container {
    background: none;
}
.pane-chat-tile {
    background: none;
}

/* Left */
.butterbar-container {
    background-color: #fefefe;
}
.butterbar {
    background-color: transparent;
    min-height: 0;
    padding: 0;
}
.butterbar-notification {
    display: none;
}
.butterbar-wrapper {

}
.butterbar .butterbar-icon,
.butterbar .butterbar-text {
    display: none;
}
.butterbar .butterbar-title {
    color: #000;
    font-size: inherit;
    line-height: 160%;
}
.butterbar .butterbar-body {
    border: 1px solid #000;
    border-bottom: 0 none;
}
.subheader-search {
    height: 30px;
    border: 1px solid #000;
    border-bottom: 0 none;    
}
.subheader-search button {
    display: none;
}
.subheader-search .input-placeholder {
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    line-height: 160%;
}
.subheader-search .cont-input-search {
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: 0 none;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    line-height: 160%;
    -webkit-padding-start: 0 !important;
}
.infinite-list-item {
    height: auto !important;
}
.chatlist .chat, 
.chatlist .chat.active,
.chatlist .chat.hover {
    padding: 0;
    border: 1px solid #000;
    border-bottom: 0 none; 
    background-color: inherit;
}
.chatlist .chat::before,
.chatlist .chat::after {
    display: none;
}
.chat .chat-avatar {
    display: none;
}
.chat .chat-main,
.chat .chat-body {
    margin: 0;
}
.chat .chat-main .chat-title {
    color: inherit;
    font-size: inherit;
    line-height: 160%;
}
.chat .chat-main .chat-meta {
    position: absolute;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    line-height: 160%;
}
.chat .chat-main .chat-meta .chat-time {
    display: block;
    width: 125px;
    height: 100%;
    border: 1px solid #000;
    border-top: 0 none; 
    border-bottom: 0 none; 
}
.chat .chat-secondary {
    min-height: 0;
}
.chat .chat-secondary .chat-meta {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    line-height: 160%;
}
.chat .chat-secondary .chat-meta .unread-count {
    background-color: transparent;
    color: inherit;
    height: 100%;
}
.chat.hover .chat-secondary .chat-meta .unread-count {
    display: none;
}
.chat .chat-secondary .chat-status {
    display: none;
}
img.emoji {
    transform: scale(0.5)
}

/* Right */
.pane-chat-msgs {
    padding: 0;
    margin: 0;
}
.msg,
.msg.msg-continuation {
    padding: 0;
    margin: 0;    
}
.message {
    box-shadow: none;
    max-width: none;
    width: calc(100% - 3px);
}
.message::before {
    display: none;
}
.message.message-system {
    display: none;
}

.message .bubble {
    padding: 0;   
}
.message .bubble-attach {
    width: auto;
}
.message .btn-context-chat {
    display: none;
}

.message .bubble-image {
    max-height: 50px;
}
.message .bubble-image .image-thumb {
    max-height: 50px !important;
    max-width: 50px !important;
    width: auto !important;
    height: auto !important;
}
.message .bubble-image .image-thumb img {
    max-height: 50px !important;
    max-width: 50px !important;
    width: auto !important;
    height: auto !important;
}
.message .bubble-image .image-thumb .btn-meta {
    transform: scale(0.5);
    -webkit-padding-end: 0px;
}
.message .bubble-image .image-thumb .btn-meta .hidden-token {
    display: none;
}
.message .bubble-image .shade {
    display: none;
}
.message .bubble-image .image-thumb-lores {
    -webkit-filter: blur(1px); 
}


.message .bubble-audio .contents {
    -webkit-margin-end: 0px;
}
.message .bubble-audio .preview {
    width: auto;
    height: auto;
}
.message .bubble-audio .preview {
    background-image: none !important;
}
.message .bubble-audio .meta-audio {
    right: auto !important;
    left:  53px;
}
.message .bubble-audio .audio-status {
    right: 0px;
    bottom: 18px;
}
.message .bubble-audio .message-meta {
    right: 7px;
}

.message-in, 
.message-out {
    border-radius: 0;
    border: 1px solid #000;
    border-bottom: 0 none; 
}
.message-out {
    float: none;
    text-align: right;
    background-color: #fcfffb;
}
.message-text {
    font-size: inherit;
    line-height: 160%;     
}
